.div {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 131.02%;
  font-weight: 600;
  font-family: var(--font-poppins);
}
.Image {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 324px;
  flex-shrink: 0;
  object-fit: cover;
}
.Image,
.sybject {
  position: relative;
}
.regarding-damaged-black {
  flex: 1;
  position: relative;
  font-size: var(--font-size-mini);
}
.discription,
.status,
.subject {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 54px;
}
.discription,
.status {
  align-items: flex-start;
  gap: 22px;
}
.status {
  align-items: center;
  gap: 65px;
}
.create-account {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 131.02%;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: var(--linear);
  border-radius: var(--br-mini);
  background: linear-gradient(98.81deg, #53e88b, #15be77);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-account1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 131.02%;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: var(--linear);
  border-radius: var(--br-mini);
  background: linear-gradient(98.81deg, #e85353, #be1515);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.complaint,
.view-page {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.complaint {
  align-self: stretch;
  border-radius: 5px;
  border: 2px solid var(--color-black);
  padding: var(--padding-3xs);
  justify-content: center;
  gap: 14px;
}
.view-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 50px;
  padding-top: 100px;
  box-sizing: border-box;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.image1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
